<div class="w3-display-middle">
    <div class="w3-animate-zoom">
        <div class="w3-container">
            <h1 class="w3-serif w3-text-white w3-center w3-margin-bottom" >Iniciar sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="w3-container">
                <label for="email" ng>E-mail</label>
                <input type="text" formControlName="email" class="w3-input w3-round-large" required
                [ngClass]="{'w3-red': email?.errors && email?.touched,
            'w3-green': !email?.errors && email?.touched }">

                <label for="password">Contraseña</label>
                <input type="password" formControlName="password" class="w3-input w3-round-large w3-margin-bottom" required
                [ngClass]="{'w3-red': password?.errors && password?.touched,
                    'w3-green': !password?.errors && password?.touched}">
                <div class="w3-center">
                    <button class="w3-btn w3-white w3-padding w3-teal w3-round-large" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>