<div style="background-color:#000;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;z-index:-1"
[routerLink]="'../'"></div>
<div class="w3-center w3-animate-top"><a [routerLink]="'../'">Volver</a></div>
<div class="w3-container" [ngClass]="{'w3-animate-zoom': json}">
    <div class="w3-panel" *ngFor="let estudio of json">
        <header class="w3-header">
            <h3>{{estudio.titulo}}</h3>
        </header>
            <p>{{estudio.descripcion}}</p>
        <footer class="w3-footer">
            <p>{{estudio.anno}} &mdash; {{estudio.institucion}}</p>
        </footer>
    </div>
</div>